<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Care Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
	table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body class="container-sm">

	<p class="h1 text-center font-weight-bold">APPOINTMENTS</p>

	<table class="table table-bordered table-hover container-sm">
  		<thead class="thead-dark">
    		<tr>
		      <th scope="col">Patient Username</th>
		      <th scope="col">Appointment ID</th>
		      <th scope="col">Date</th>
		     
    		</tr>
  		</thead>
  		<tbody>
	    {% for row in data %}
	    <tr>
	        {% for d in row %}
	            <th scope="col"> {{ row[d] }} </td>
	           {% endfor %}
	          </tr>
	        
	    {% endfor %}
  		</tbody>
	</table>
	<br>
	
		 <a href="/userd/{{ username }}"> <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> BACK  </button> 
    </a>
 
</body>
</html>