<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Care Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Online HealthCare</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#Patient">Patient Module</a></li>
        <li><a href="#Doctor">Doctor Module</a></li>
        <li><a href="#About">About</a></li>
      </ul>
    </div>
  </div>
</nav>
 
<div class="About container-fluid">
  <h1><strong>About Us</strong>
</h1>
  <p >The Healthcare Management system is the inevitable part of the lifecycle of the modern medical institution. It automates numerous daily operations and enables smooth interactions of the users ie. both patients and doctors . Developing the Healthcare Management system software is a great opportunity to create the distinct, efficient and fast delivering healthcare model.</p>
</div>

<div class="Patient container-fluid">
  <h1><strong>Patient</strong></h1>
  <p>The patient module enables patients to search for their specialty and doctor or Health Check and book an appointment for a consultation or Health Check online. They can enter their complete details online and reduce the waiting time at the hospital.</p>
  <div>
	<a href="/psign"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</button> </a>
	<a href="/plog"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span> Login</button></a>
  </div>
</div>

<div class="Doctor container-fluid">
  <h1><strong>Doctor</strong></h1>
  <p>The doctor mdodule enables doctors to keep an eye on the number of appointments booked under them.<br>After physical chek-up / visit of a patient the doctor can even upload the required prescriptions , reports , additional details etc .</p>
  <div>
	<a href="/dsign"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</button> </a>
	<a href="/dlog"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span> Login</button></a>
  </div>


  </div>

</body>
</html>
